I converted the paraquet files to the csv by using the below line of the codes
pip install pandas
Then we can load the Parquet file into a dataframe

df = pd.read_parquet('path/to/file.parquet')
Finally, we can export the dataframe to the CSV format

df.to_csv('/path/to/file.csv', index=False)

Finding the average fareamount of the table

In [ ]:

SELECT AVG(fare_amount) AS average_fare_amount
FROM yellowdata
#json is table Name

Output :-  19.63512234669536

Determine the hour of the day with the highest number of trips.

In [ ]:
SELECT EXTRACT(HOUR FROM __time) AS hour_of_day,
       COUNT(*) AS num_trips
FROM yellowdata
GROUP BY EXTRACT(HOUR FROM __time)
ORDER BY num_trips DESC
LIMIT 1

18 hr
2,697,487

Identify the trip with the longest distance traveled.

In [ ]:
SELECT *
FROM yellowdata
ORDER BY trip_distance DESC
LIMIT 1

345,729.44

Calculate the total revenue generated by the taxi service, including fare amount and tips.

In [ ]:
SELECT SUM(fare_amount + tip_amount) AS total_revenue
FROM yellodata

total revenue    878,997,161.7494471

Analyze the distribution of airport fees for each VendorID.

In [ ]:
SELECT VendorID,
       SUM(Airport_fee) AS total_airport_fees
FROM yellowdata
GROUP BY VendorID

1
1033493.45
2
3851865.5
6
null

Calculate the monthly revenue trend for the taxi service over the available data.

In [ ]:
SELECT
    EXTRACT(YEAR FROM __time),
    EXTRACT(MONTH FROM __time),
    SUM(fare_amount + tip_amount)
FROM json
GROUP BY
    EXTRACT(YEAR FROM __time),
    EXTRACT(MONTH FROM __time)
ORDER BY
    EXTRACT(YEAR FROM __time),
    EXTRACT(MONTH FROM __time)

Run

Engine: auto (sql-native)



2,023
1
3,377,723.289999744
2,023
2
2,759,139.460000033
2,023
3
2,924,020.5900000506
2,023
4
2,844,862.4200000344
2,023
5
3,253,968.329999938
2,023
6
3,132,295.5600000373
2,023
7
3,007,734.80999979
2,023
8
3,020,383.1699998965
2,023
9
3,376,837.109999757
2,023
10
3,305,800.4199997913
2,023
11
3,036,083.579999958
2,023
12
3,097,901.6699999